extends ../layout 

//- 프로젝트 수정
block content
  .container 
    form(action="#", method="post")
      h1.text-center-mt-5 Add Task

      .form-group
        .form-row
            .form-group.col-md-12.mt-4 
                h4 업무명
                input.form-control(type="text", placeholder="업무명", name = "name")
        .form-row
            .form-group.col-md-12.mt-4 
                h4 업무 내용
                input.form-control(type="text", placeholder="업무 내용", name = "detail")
        .form-row
            .form-group.col-md-6.mt-4
                h4 시작 일자
                input.form-control(type="date", placeholder="starts", name="begin_date")
            .form-group.col-md-6.mt-4
                h4 종료 일자
                input.form-control(type="date", placeholder="lasts", name="last_date")
        .form-row
            .form-group.col-md-6.mt-4
                h3 제출 파일 종류
                select.form-control(name="file")
                    option 문서
                    option Excel
                    option html/js
                    option C#, C/C++
                    option Dart/Flutter, Java
                    option 기타
            .form-group.col-md-6.mt-4
                h3 수행 직원
                select.form-control(name="file")
                    option 홍길동
                    option 강동원
                    option 공유

