extends ../layout 

//- 종료된 프로젝트 리스트
block content
  .container 
    form(action="#", method="post")
      h1.text-center-mt-5 종료된 프로젝트

      .card-group
        .card 
          h5.project_name 프로젝트 이름
          p.end_date 프로젝트 종료 날짜
          p.state 종료
          .d-grid.gap-2.mt-2
            button.btn.btn-outline-dark(type="submit", style="float: right") 인증키 부여