extends ../layout 

//- 프로젝트 list 확인
block content
  .container
    form(action="#", method="post")
      h1.text-center-mt-5 Project List
      
      div.card-group 
        .card 
          h5.project_no 프로젝트 이름
          p.start_date 프로젝트 시작 일자
          p.end_date 프로젝트 종료 일자
          p.duty 맡은 업무
          p.status 프로젝트 상태
          <a href="/project/details" class="btn btn-link" id="detail">세부 사항</a>
      div.card-group 
        .card 
          h5.project_no 프로젝트 이름
          p.start_date 프로젝트 시작 일자
          p.end_date 프로젝트 종료 일자
          p.duty 맡은 업무
          p.status 프로젝트 상태
          <a href="/project/details" class="btn btn-link" id="detail">세부 사항</a>
      div.card-group 
        .card 
          h5.project_no 프로젝트 이름
          p.start_date 프로젝트 시작 일자
          p.end_date 프로젝트 종료 일자
          p.duty 맡은 업무
          p.status 프로젝트 상태
          <a href="/project/details" class="btn btn-link" id="detail">세부 사항</a>


      //- .form-group
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 직원 번호
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 프로젝트 번호
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 참여 일자
      //-   .row.align-items-center
      //-     .col.mt-4
      //-       h3 업무
    

