header
  nav.navbar.static-top.navbar-expand-lg.navbar-light(style="background-color: #ffffff;")
    .container-lg
      a.navbar-brand(href="/") Prompt Solution
        
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item.me-3
            a.btn.btn-outline-success(href='/signin') 로그인
          li.nav-item 
            a.btn.btn-outline-primary(href='/signup') 회원가입