header
  nav.navbar.static-top.navbar-expand-lg.navbar-dark(style="background-color: #3a3a3a;")
    .container-lg
      a.navbar-brand(href="/") Prompt Solution
        
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-ttem.me-3
            button.loginNav(type='button' onclick="location.href='/signin' ") 로그인
          li.nav-item 
            button.signinNav(type='button' onclick="location.href='/signup' ") 회원가입
