header
  nav.navbar.static-top.navbar-expand-lg.navbar-light(style="background-color: #ffffff;")
    .container-lg
      a.navbar-brand(href="/") Prompt Solution

      if(authorization == 0)  
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item.me-3
              a.nav-link(href="/projects/") 프로젝트
            li.nav-item.me-3
              a.nav-link(href="/pm_evaluation") 평가
            li.nav-item.me-3
              a.nav-link(href="/users/profile") 마이페이지    
            li.nav-item
              a.btn.btn-outline-primary(href='/signout') 로그아웃

      else 
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item.me-3
              a.nav-link(href="/projects/") 프로젝트
            li.nav-item.me-3
              a.nav-link(href="/pm_evaluation") 평가
            li.nav-item.me-3
              a.nav-link(href="/") 직원 관리
            li.nav-item.me-3
              a.nav-link(href="/users/profile") 마이페이지    
            li.nav-item
              a.btn.btn-outline-danger(href='/signout') 로그아웃