extends ../layout 

block content 
  .container 
    h1.mb-5.d-flex.justify-content-center 평가 리스트
    each project in projects
      .row 
        .card
          .card-body
            h3.card-title.mb-3.d-flex.justify-content-center= project.project_name
            .d-grid.gap-2.mt-2
              a.btn.btn-outline-primary(href=`eval/evaluate/${project.project_no}`) 평가하기