extends layout 

//- 거래처 추가 페이지
block content
  form(action="#", method="post")
    h1.text-center.mt-5 거래처 List 및 추가

    .form-group
            .row.align-items-center
                .col.mt-4
                h3 거래처명
                input.form-control(type="text", placeholder="client name", name="name")
            .row.justify-content-start.mt-4
                .col(style="margin-bottom: 1em")
                button.btn.btn-outline-dark(type="submit", style="float: right") Add Client

    div.card-group 
        .card 
          h5.client_no 번호
          h5.client 거래처명