extends layout 

//- 프로젝트 등록 페이지
block content
  form(action="#", method="post")
    h1.text-center.mt-5 프로젝트 등록
    .form-group
      .row.align-items-center
        .col.mt-4
          h2 프로젝트명
          input.form-control(type="text", placeholder="project name", name="name")
      .row.align-items-center.mt-4
        .col
          h2 착수일자
          input.form-control(type="date", placeholder="starts", name="begin_date")
      .row.align-items-center.mt-4
        .col
          h2 종료일자
          input.form-control(type="date", placeholder="ends", name="end_date")
      .row.align-items-center.mt-4
        .col
          h2 거래처
          select.custom-select(name="client", size="1")
      .row.align-items-center.mt-4
        .col 
          h2 프로젝트 진행상태
          input.form-control(type='text' placeholder='진행중' readonly='')
      .row.justify-content-start.mt-4
        .col(style="margin-bottom: 1em")
          button.btn.btn-outline-dark(type="submit", style="float: right") Add project
    



    //-       .col
    //-       h2 Ordered
    //-       select.custom-select(name="client", size="1")
    //-         each client in clients
    //-           option(value=client[0]) #{client[1]}(#{client[2]})
    //-   .row.justify-content-start.mt-4
    //-     .col(style="margin-bottom: 1em")
    //-       button.btn.btn-outline-dark(type="submit", style="float: right") Add project
