extends layout

block content

  .container
    h1 #{title} Page
    h2 Welcome prompt solution website!
      .card 
        img.card-img(src="" alt="networking")
        .carousel-caption
          b.main  Welcome to Prompt
  .end 
    p (주) prompt solution 
    p Copyright © 2021, by Data Technology, Co., Ltd. All Rights Reserved.