extends layout

block content

  .container
      .card 
        img.card-img(src="https://cdn.pixabay.com/photo/2015/01/08/18/11/laptops-593296_1280.jpg" alt="networking")
        .carousel-caption
          b.main  Welcome to Prompt
  .end 
    p (주) prompt solution 
    p Copyright © 2021, by Data Technology, Co., Ltd. All Rights Reserved.