extends layout

block content

  .loginView
    .row 
      .input-group.mb-3
      input.form-control.myinput(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
    .row
      .input-group.mb-3
      input.form-control.myinput(type='password' placeholder='password' aria-label='Username' aria-describedby='basic-addon1')
    br
    br
    .row
      .col 
        button.btn.btn-primary.mb-3.loginButton(type='submit') 로그인
      .col
        button.btn.btn-primary.mb-3.signinButton(type='submit') 회원가입
