extends layout

block content
    ul.nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-light.bg-light
        li.navbar-brand(href='#') Prompt
        li.nav-item
            a.nav-link.active(href='#') | 프로젝트 조회
        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') | 마이페이지
            .dropdown-menu
            a.dropdown-item(href="#") 개인정보 수정
            a.dropdown-item(href='#') 직원 관리

        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') | 조회
            .dropdown-menu
            a.dropdown-item(href='#') 프로젝트 조회
            a.dropdown-item(href='#') PM평가
            a.dropdown-item(href='#') 동료평가
            a.dropdown-item(href='#') 고객평가
        
        li.nav-item
            a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') | Disabled

        li.p 000님, 환영합니다! 부서 : 000  
        button.btn.btn-outline-secondary(type='button') 로그아웃