extends layout
//-회원,비회원 로그인 페이지
block content

  .loginView
      .row
          form(action='/signin', method='POST')
            .login
              .login-head
                p 회원 로그인
              .row 
                .input-group.mb-3
                input.form-control.myinput(type='text' name="id" placeholder='아이디' aria-label='Username' aria-describedby='basic-addon1')
              .row
                .input-group.mb-3
                input.form-control.myinput(type='password' name='password' placeholder='비밀번호' aria-label='Userpassword' aria-describedby='basic-addon1')
              br
              .row  
                button.loginButton(type='submit') 로그인
                button.signinButton(type='submit') 회원가입
              br
          form(action='/', method='POST')
            p 비회원 로그인
            .row 
              .input-group.mb-3
              input.form-control.myinput(type='text' name='clientId' placeholder='고객아이디' aria-label='Clientname' aria-describedby='basic-addon1')
            .row
              .input-group.mb-3
              input.form-control.myinput(type='password' name= 'certifiedKey' placeholder='인증키' aria-label='Clientkey' aria-describedby='basic-addon1')

            br
            .row
              button.loginButton(type='submit') 로그인



