extends ../layout
//-동료평가 입력페이지
block content
    .container 
        .row.align-items-center.mt-4
            .col 
                h3.mb-3.ml-3 평가 프로젝트
                select#project.form-select(name="project" size="1")
                    option(value='nothing') 무
            .col
                h3.mb-3.ml-3 평가 직원
                select#employee.form-select(name="employee" size="1")
                    option(value='nothing') 프로젝트를 먼저 선택하세요
        br      
        form(id="peer_evaluation_form" action="/peer_evaluation", method='post')
            .form-group
                label(for="inputWorkScore") 업무수행 평가 점수
                input#inputworkscore.form-control(type="number" name="work_score" min="0" max="100" placeholder="0~100점")
            .form-group
                label(for="inputWorkContent") 업무수행 평가 세부내용
                input#inputworkcontent.form-control(type="text" name="work_content" placeholder="ex) 고객의 요구사항을 다 만족함")
            .form-group
                label(for="inputCommunicationScore") 커뮤니케이션 평가 점수
                input#inputcommunicationscore.form-control(type="number" name="communication_score" min="0" max="100" placeholder="0~100점")
            .form-group
                label(for="inputCommunicationContent") 커뮤니케이션 평가 세부내용
                input#inputcommunicationcontent.form-control(type="text" name="communication_content" placeholder="ex) 고객의 피드백을 즉각 반영함")
            button.btn.btn-primary(type="submit") 평가 등록 
    
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src="./peer_evaluation.js")         

