extends ../layout

//-특정직원의 pm평가 상세결과 페이지
block content
    .container.tableStyle
        .evaluationView
            form(action="#", method="post")
                h2 PM평가 결과
                .row.align-items-center.mt-4
                    .col 
                        h3.mb-3.ml-3 피평가자
                        input.form-control(type="text" name="employee_name" value=`employee_name` readonly)
                    .col
                        h3.mb-3.ml-3 평가자(PM)
                        input.form-control(type="text" name="PM_name" value=`PM_name` readonly)
                    .col
                        h3.mb-3.ml-3 프로젝트명
                        input.form-control(type="text" name="project_name" value=`project_name` readonly)
                br      
                form(action="/", method='post')
                    .form-group
                        label(for="inputWorkScore") 업무수행 평가 점수
                        input#inputworkscore.form-control(type="number" name="work_score" min="0" max="100" placeholder="0~100점" readonly)
                    .form-group
                        label(for="inputWorkContent") 업무수행 평가 세부내용
                        input#inputworkcontent.form-control(type="text" name="work_content" placeholder="ex) 고객의 요구사항을 다 만족함" readonly)
                    .form-group
                        label(for="inputCommunicationScore") 커뮤니케이션 평가 점수
                        input#inputcommunicationscore.form-control(type="number" name="communication_score" min="0" max="100" placeholder="0~100점" readonly) 
                    .form-group
                        label(for="inputCommunicationContent") 커뮤니케이션 평가 세부내용
                        input#inputcommunicationcontent.form-control(type="text" name="communication_content" placeholder="ex) 고객의 피드백을 즉각 반영함" readonly)
                    button.btn.btn-outline-primary(type='button') 돌아가기
