extends ../layout 

//- 거래처 추가 페이지
block content
  .container
    form(action=`/management/customer/edit/${customer.customer_id}`, method="POST")
      h1.text-center.mt-5 거래처 수정

      .form-group
        .row.align-items-center
            .col.mt-4
            h3 거래처명
            input.form-control(type="text", value=`${customer.customer_name}`, name="name")
        .row.align-items-center
            .col.mt-4
            h3 거래처 이메일
            input.form-control(type="text", value=`${customer.e_mail}`, name="email")
        .row.justify-content-start.mt-4
            .col(style="margin-bottom: 1em")
            button.btn.btn-outline-dark(type="submit", style="float: right") 거래처 수정하기