extends ../layout 

//- 특정직원의 동료,pm,peer평가 결과(점수,합계,평균)를 확인하는 페이지
block content
    .container-lg
        .table-responsive
            .table-wrapper
                .table-title
                    form(action="#", method="post")
                        .row
                            .col-sm-1
                                select#researchOption.form-control
                                    option 직원명
                                    option 직원번호
                                    option 프로젝트명
                            .col-sm-2
                                input#inputInformation.form-control(type='information')
                            .col-sm-1
                                button.btn.btn-primary(type='button' value='inquiry' title='inquiry') 조회
                    br
                table.table.table-bordered
                    thead
                        tr
                            th 직원명
                            th 프로젝트명
                            th 동료평가
                            th PM평가
                            th 고객평가
                            th 총합
                            th 평균
                    tbody
                        tr
                            td 김명지
                            td 카카오톡ver5.03
                            td
                                a(href='#' value='peerScore' title='peerScore') 83점  
                            td
                                a(href='#' value='pmScore' title='omScore') 83점
                            td
                                a(href='#' value='customerScore' title='customerScore') 83점
                            td 249점
                            td 83점

                        tr
                            td 김명지
                            td 네이버 ver8.04
                            td
                                a(href='#' value='peerScore' title='peerScore') 83점  
                            td
                                a(href='#' value='pmScore' title='omScore') 83점
                            td
                                a(href='#' value='customerScore' title='customerScore') 83점
                            td 249점
                            td 83점
                        tr
                            td 홍길동
                            td 카카오톡ver5.03
                            td
                                a(href='#' value='peerScore' title='peerScore') 80점  
                            td
                                a(href='#' value='pmScore' title='omScore') 86점
                            td
                                a(href='#' value='customerScore' title='customerScore') 86점
                            td 252점
                            td 84점