/*
로그인,회원가입 뷰 css
*/
.container.signin {
	background: #3a3a3a;
  width: 100%;
  height: 100vh;
}

.loginView {
    border-radius: 10px;
    background: #ffffff;
    text-align: center;
    align-items: center;
    width: 30%;
    padding: 8% 0 0;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    
  }
.signupView{
    border-radius: 10px;
    background: #ffffff;
    align-items: center;
    width: 50%;
    padding: 8% 0 0;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.signupView h2{
  text-align: center;
  font-weight: bold;
}
.signupView form{
  margin-left: 60px;
  margin-right: 60px;
}
p.loginMember{
  text-align: center;
  font-weight: bold;
}
p.loginCustomer{
  text-align: center;
  font-weight: bold;
}

input.myinput {
    margin-left: 0%;
    margin-right: 0%;
    border: none;
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    border-bottom: 1px solid #575757;
    
    
    /* text-align: center; */
}
select#inputState.form-select{
  margin: auto;
  width: 50%;
}
input.signupInput{
    border: none;
    width: 100%;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #575757;
}

input.mypageInput{
    border: none;
    width: 50%;
    display: block;
    margin-top: 10px;
    margin :auto;
    font-size: 16px;
    border-bottom: 1px solid #575757;
}
button.signupBtn{
  border-radius: 20px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  width: 100%;
}
button.loginButton {
	border-radius: 20px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  width: 40%;
  
}
button.signinButton{
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color:#000000;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 40%;
    
}
form.guest{

}
