/*
navë°” css
*/

button.loginNav {
    border-radius: 2px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    width: 100%;
  
}
button.signinNav{
    border-radius: 2px;
    border: 0px solid #000000;
    background-color: #ffffff;
    color:#000000;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 100%;
    
}
button.menuNav{
    border-radius: 2px;
    border: 0px solid #000000;
    background-color: #3a3a3a;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 100%;
}

