/*
평가 table css
*/

.container.tableStyle{
    background-color: #3a3a3a;
}

.container.tableStyle h3 {
    color: #ffffff;
}
table.custom_list.table-hover{
    width: 100%;
    border-radius: 10px;
    background-color: #fafdfe;
    align-items: center;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 1rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

table.table.table-bordered{
    width: 80%;
    border-radius: 5px;
    background-color: #fafdfe;
    align-items: center;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 1rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
table thead tr{
    background-color: #fafdfe;
    font-size: large;
}
table tbody tr{
    background-color: #ffffff;
    border-radius: 25px;
    width: 80%;
}

.evaluationView{
    border-radius: 10px;
    background: #ffffff;
    align-items: center;
    width: 80%;
    padding: 8% 0 0;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.evaluationView h3 {
    text-align: center;
}
.evaluationView form{
    margin-left: 20%;
    margin-right: 20%;
}