extends ../layout

//-마이페이지//

block content
    div(name="mypageview")
    section.fdb-block.fp-active(data-block-type="contents" data-id="1" draggable="true")
        .container.tableStyle
            br
            br
            br
            .mypageView
                .row
                    .col
                        h1= name
                            br
                .row
                    .col
                        h3 아이디
                            p.text-h3.ml-3= id
                .row
                    .col
                        h3 학력
                            p.text-h3.ml-3= education
                    .col
                        h3 userSkills
                            p.text-h3.ml-3
                                | #{userSkills}
                .row
                    .col-12.col-sm-12.pt-3.pt-sm-0
                        button.loginButton(type='button' onclick="location.href='/mypage/edit' ") 수정
                        br
                            

